
.card {
    margin: 100px;;
    background-color: #b3cde0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Oswald';
    color: #03396c;
}

button {
    text-transform: uppercase;
    color: #6497b1;
    font-family: 'Oswald'
}



a{
    text-decoration: none;
}