
<div class="container">
    

<br>
<div class="row">
    <div class="col-md-3">
        <svg width="120px" height="120px"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 10L18.5145 17.4276C18.3312 18.3439 18.2396 18.8021 18.0004 19.1448C17.7894 19.447 17.499 19.685 17.1613 19.8326C16.7783 20 16.3111 20 15.3766 20H8.62337C7.6889 20 7.22166 20 6.83869 19.8326C6.50097 19.685 6.2106 19.447 5.99964 19.1448C5.76041 18.8021 5.66878 18.3439 5.48551 17.4276L4 10M20 10H18M20 10H21M4 10H3M4 10H6M6 10H18M6 10L9 4M18 10L15 4M9 13V16M12 13V16M15 13V16" stroke="#b3cde0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>    </div>
    <div class="col-md">
        <br><h2>Our Products</h2>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <button class="button-57" role="button" routerLink="/add-product"><span class="text">+</span><span>Add Product</span></button>

        </div>
        <div class="col" *ngIf="productList"> 
            <div class="container c2" *ngFor="let product of productList" >
                
                <div routerLink="/edit-product/{{product.ID_PRODUCT}}" >
                <div class="row"  >
                    <div class="col" >
                        <div class="row">
                            <div class="col-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24"><path d="M428.3 3c11.6-6.4 26.2-2.3 32.6 9.3l4.8 8.7c19.3 34.7 19.8 75.7 3.4 110C495.8 159.6 512 197.9 512 240c0 18.5-3.1 36.3-8.9 52.8c-6.1 17.3-28.5 16.3-36.8-.1l-11.7-23.4c-4.1-8.1-12.4-13.3-21.5-13.3H360c-13.3 0-24-10.7-24-24V152c0-13.3-10.7-24-24-24l-17.1 0c-21.3 0-30-23.9-10.8-32.9C304.7 85.4 327.7 80 352 80c28.3 0 54.8 7.3 77.8 20.2c5.5-18.2 3.7-38.4-6-55.8L419 35.7c-6.4-11.6-2.3-26.2 9.3-32.6zM171.2 345.5L264 160l40 0v80c0 26.5 21.5 48 48 48h76.2l23.9 47.8C372.3 443.9 244.3 512 103.2 512H44.4C19.9 512 0 492.1 0 467.6c0-20.8 14.5-38.8 34.8-43.3l49.8-11.1c37.6-8.4 69.5-33.2 86.7-67.7z"/></svg>
                            </div>
                            <!--
                            <svg *ngIf="product.ID_TYPE === 'Électroménagers'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                
                            </svg> 
                        -->
                            <div class="col"><p class="ProductName">{{product.PRODUCT_NAME}}</p></div>                      
                        </div>
                        <div class="row ">
                            <div class="col"><p class="badge">Owner :</p></div>
                            <div class="col"> <p class="data">{{product.FIRST_NAME}}{{product.LAST_NAME}}</p></div>
                        </div>
                        <div class="row ">
                            <div class="col"><p class="badge">Quentity :</p></div>
                            <div class="col"> <p class="data">{{product.qte}}</p></div>
                        </div>
                        <div class="row ">
                            <div class="col"><p class="badge">Price :</p></div>
                            <div class="col"> <p class="data">{{product.PRICE}}</p></div>
                        </div>
                        <div class="row ">
                            <div class="col"><p class="badge">Personal Use :</p></div>
                            <div class="col">
                                <td *ngIf="product.PERSONAL_USE==true; else elseBlock">Yes</td>
                                <ng-template #elseBlock><td >No</td></ng-template>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col"><p class="badge">Date :</p></div>
                            <div class="col"> <p class="data">{{product.date}}</p></div>
                        </div>
                    </div>
                    <div class="col-3" style="position: relative;">
                        <div style="position: absolute; top: 0; right: 0;">
                            <button class="button-57" role="button" (click)="deleteProduct(product)"><span class="text">x</span><span>Delete Product</span></button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
                <p > </p>
        </div>
        </div>
    </div>
</div>
</div>