/* You can add global styles to this file, and also import other style files */
body {
    background-color:#011f4b;
    color :#F9F6EE;
    font-size : 1.5rem;
    font-family: 'Oswald';
    text-align: center;
}