<div class="row" id="home">
    <div class="col-md" id="text">
        <br><br>
        <br><br>
        <br><br><br>
        <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%">CoHabit</text>
              <text text-anchor="middle" x="52%" y="80%">CoHabit</text>
              
            </symbol>
          
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
    </div>
    <div class="col-md " id="img" >
        
    </div>
</div>